<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Xamarin.Buttons" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.DataSource" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Expander" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.GridCommon" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfAutoComplete" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfDataForm" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfListView" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfMaskedEdit" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="20.4.0.52" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.CommunityToolkit.Markup" version="2.0.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2291" targetFramework="xamarinios10" />
</packages>